// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../../includes/lib';


// This wrapper element sets the content width
.mzp-l-content {
    @include lib.clearfix;
    margin: 0 auto;
    max-width: lib.$content-max;
    min-width: lib.$content-xs - (lib.$layout-xs * 2);
    padding: lib.get-theme('v-grid-xs') lib.get-theme('h-grid-xs');
    position: relative;

    &.mzp-t-content-sm {
        max-width: lib.$content-sm;
    }

    &.mzp-t-content-md {
        max-width: lib.$content-md;
    }

    &.mzp-t-content-lg {
        max-width: lib.$content-lg;
    }

    &.mzp-t-content-xl {
        max-width: lib.$content-xl;
    }

    // Remove vertical spacing
    &.mzp-t-content-nospace {
        padding-top: 0;
        padding-bottom: 0;
    }

    // No bottom margins on last child
    // Note: this can cause problems if mzp-l-content
    // is used as a grid or flex container.
    & > :last-child {
        margin-bottom: 0;
    }

    @media #{lib.$mq-md} {
        padding: lib.get-theme('v-grid-md') lib.get-theme('h-grid-md');
    }

    @media #{lib.$mq-xl} {
        padding: lib.get-theme('v-grid-xl') lib.get-theme('h-grid-xl');
    }
}
