// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@use '../../includes/lib';

blockquote {
    @include lib.bidi(((border-width, 0 0 0 5px, 0 5px 0 0),));
    @include lib.text-title-sm;
    border-color: lib.$color-marketing-gray-20;
    border-style: solid;
    color: lib.get-theme('title-text-color');
    font-family: lib.get-theme('title-font-family');
    font-weight: bold;
    margin: lib.$spacing-lg auto;
    padding: lib.$spacing-sm lib.$spacing-lg;

    cite {
        @include lib.text-title-xs;
        color: lib.get-theme('body-text-color-secondary');

        &:before {
            content: '— ';
        }
    }

    & > :last-child {
        margin-bottom: 0;
    }
}
