@use "../../../../assets/sass/protocol/includes/themes";
@use "../../../../assets/sass/protocol/includes/utils/bidi";
@use "../../../../assets/sass/protocol/includes/utils/typography";
@use "../../../../node_modules/@mozilla-protocol/tokens/dist";

.Pen {
    background-color: dist.$color-marketing-gray-10;
}

.Pen-title {
    @include typography.text-title-xs;
    font-family: themes.get-theme('title-font-family');
    color: themes.get-theme('title-text-color');
}

.Pen-previewLink {
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: themes.get-theme('title-text-color');
    }

    svg {
        fill: currentColor;
        vertical-align: bottom;
    }
}

.Pen-previewButton {
    @include bidi.bidi(((margin-left, dist.$spacing-lg, margin-right, dist.$spacing-lg),));
    @include typography.text-body-sm;
    color: themes.get-theme('link-color');
    font-family: themes.get-theme('body-font-family');
    font-weight: bold;

    &:hover,
    &:active {
        color: themes.get-theme('link-color-hover');
    }
}

.Pen-utils {
    display: flex;
    margin-inline-start: auto;
    min-width: 20vw;
}

.Pen-bidi-controls {
    padding: 0 dist.$spacing-md;

    label {
        display: inline-block;
        padding: 0 dist.$spacing-xs;
    }

    abbr {
        text-decoration: none;
    }
}
